:root {
    --main-color: #white;
    --web-view-ids: Web_1920__1;
}
.mediaViewInfo {
    --web-view-name: Web 1920 - 1;
    --web-view-id: Web_1920__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#search-elements {
    flex: content;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 612.41px;
    /* 
    height: 80px;
    left: 586px; */
    top: 400px;
    overflow: visible;
}
